.menu_title {
	background-color: darkgray;
	color: bisque;
	text-align: center;
}

body {
	margin: 0;
	--background-secondary: #c94c36;
	--knob-low: #e04141;
	--knob-medium: #d91515;
	--knob-high: #a70000;

	--theme-yellow: #F9C80E;
	--theme-red: #FF4365;
	--theme-red-dark: #ECA089;
	--theme-purple-dark: #540D6E;
	--theme-purple-light: #791E94;
	--theme-purple-medium: #54138B;

	--theme-orange-dark: #FF3D00;
	--theme-orange-medium: #FF6F00;
	--theme-cyan: #00E5FF;
	--theme-red-light: #F50057;
	--theme-black: #1A1A2E;
	background: var(--theme-purple-light);
}

#plight {
	background-color: var(--theme-purple-light);
}


#pmedium {
	background-color: var(--theme-purple-medium);
}

#pdark {
	background-color: var(--theme-purple-dark);
}

#red {
	background-color: var(--theme-red);
}

#yellow {
	background-color: var(--theme-yellow);
}

#blue {
	background-color: var(--theme-blue);
}

.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.top-main {
	display: flex;
	flex: 1;
	min-height: 0;

	.sidebar {
		background: var(--theme-purple-light);
		display: flex;
		position: relative;
		flex-direction: column;
		justify-content: space-around;
		padding: 5px;
		border: 2px solid var(--theme-purple-dark);

		.mono {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}

	.main-panel {
		display: flex;
		flex-grow: 1;

		.operators-container {
			border: 2px solid var(--theme-purple-dark);
			border-left: none;
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			min-height: 0;
			max-width: 80%;
		}

		.lfo-container {
			border: 2px solid var(--theme-purple-dark);
			border-left: none;
			display: flex;
			flex-direction: column;
			min-height: 0;
			flex-grow: 1;
			max-width: 20%;
		}
	}
}

.bottom-main {
	display: flex;
	min-height: 0;
}

.keyboard {
	background: #888;
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	max-width: 80%;
	align-items: center;
	justify-content: center;
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 5px;
}

.mod-link {
	background: #888;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 5px;
}

.pitch-mod {
	background: #888;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 5px;
	grid-column-start: 1;
}

.op {
	background: var(--theme-purple-light);
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: Arial, sans-serif;
	font-size: 14px;
	min-height: 0;
	border-bottom: 1px solid var(--theme-purple-medium);

	.op-left {
		display: flex;
		flex-direction: column;
		padding: 5px;
		gap: 5px;

		.box-title {
			border-top: 2px solid #777;
			border-bottom: 2px solid #777;
			max-width: fit-content;
		}
	}

	.op-volume {
		border-left: 1px solid #777;
		border-right: 1px solid #777;
		display: flex;
		flex-direction: column;
		padding: 5px;
		align-items: center;
	}

	.waveform {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2px;
		height: 100%;
		text-align: center;

		.pitch,
		.grid-shape {
			height: 50px;
			width: 100px;
			background-color: #757575;
			border: 1px solid white;
		}

		.pitch {
			height: 90px;
			width: 140px;
			margin-top: auto;
			margin-bottom: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.pitch-grid {
				display: flex;
				gap: 5px;

				.pitch-params {
					padding: 5px;
					display: flex;
					flex-direction: column;
					gap: 8px
				}
			}
		}
	}

	.envelope-adsr {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;

		.envelope-title {
			margin-top: 0;
			margin-bottom: 10px;
			text-align: center;
		}

		.grid-adsr {
			border: 1px solid white;
			height: 100px;
			width: 150px;
			background-color: #757575;
		}

		.adsr {
			display: flex;
			gap: 10px;
		}
	}

	.adsr-knob {
		padding: 5px;
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	.keyboard-control {
		text-align: center;
		display: flex;
		flex-direction: column;
		gap: 2px;
		height: 100%;

		.keyboard-control-knobs {
			display: flex;
			gap: 2px;
		}

		.voices-link {
			display: flex;
			flex-direction: column;
			gap: 2px;
			margin-top: auto;

			.link-lfo {
				display: flex;
				justify-content: center;
				gap: 4px;
			}
		}
	}
}

.lfo {
	display: flex;
	align-items: center;
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 5px;

	border-bottom: 1px solid var(--theme-purple-medium);

	.lfo-left {
		display: flex;
		flex-direction: column;
		padding: 5px;
		gap: 5px;
		height: 100%;

		.box-title {
			border-top: 2px solid #777;
			border-bottom: 2px solid #777;
			max-width: fit-content;
		}

		.sync {
			margin-top: auto;
			margin-bottom: auto;
			gap: 10px;
		}


		.rate {
			margin-top: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 5px;

			.adsr-knob {
				display: flex;
				flex-direction: column;
				gap: 10px;
				margin-bottom: 5px;
			}
		}
	}

	.waveform {
		display: flex;
		flex-direction: column;
		gap: 2px;
		height: 100%;
		text-align: center;

		.grid-shape {
			height: 50px;
			width: 100px;
			background-color: #757575;
			border: 1px solid white;
		}

		.amount {
			margin-top: auto;
			margin-bottom: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 5px;

			.adsr-knob {
				display: flex;
				flex-direction: column;
				gap: 10px;
				margin-bottom: 5px;
			}
		}
	}

	.on-off {
		position: relative;
		display: inline-block;
		gap: 2px;
		height: 20px;
		width: 48px;
	}

	.on-off input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	.slider-on-off {
		position: absolute;
		cursor: pointer;
		background-color: #ccc;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transition: .4s;
		border-radius: 34px;
	}

	.slider-on-off:hover {
		box-shadow: 0 0 5px black;
	}

	.slider-on-off::before {
		position: absolute;
		content: "";
		height: 14px;
		width: 14px;
		left: 4px;
		bottom: 4px;
		background-color: white;
		transition: .4s;
		border-radius: 50%;
		box-shadow: 0 0 3px white;
	}

	input:checked+.slider-on-off {
		background-color: #e71111;
		box-shadow: 0 0 5px red;
	}


	input:checked+.slider-on-off:before {
		-webkit-transform: translateX(26px);
		-ms-transform: translateX(26px);
		transform: translateX(26px);
	}
}

.sync {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3px;
	gap: 2px;
}

.light-up-button {
	width: 44px;
	height: 25px;
	background-color: #7069698f;
	border: 4px outset rgba(70, 70, 70, 0.384);
	border-radius: 6px;
	cursor: pointer;
	font-size: 15px;
	transition: color 0.3s;
	align-items: center;
	display: flex;
	flex-direction: column;
	transition: border 0.3s;

	/* box-shadow: 0 0 10px 1px #bbb; */
	.light-up {
		width: 10px;
		height: 5px;
		background-color: #bbb;
		margin-bottom: 0px;
		transition: background-color 0.3s, box-shadow 0.3s;
		box-shadow: 0 0 10px #bbb;
	}
}

.light-up-button:hover {
	border: 4px outset white;

	.light-up {
		background-color: white;
		box-shadow: 0 0 10px white;
	}
}

.light-up-button.active {
	border: 4px outset rgb(243, 59, 59);
	box-shadow: 0 0 10px 4px rgb(243, 59, 59);

	.light-up {
		background-color: red;
		box-shadow: 0 0 10px red;
	}
}

.keyboard-container {
	display: flex;
	flex-grow: 1;
	background: #999;
	padding: 5px;
	grid-column: span 3;
	gap: 2px;
}

.mod-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #777;
	padding: 5px;
}


.vertical-slider {
	background: black;
	opacity: 0.8;
}

.vertical-slider:hover {
	opacity: 1;
}

input[type=range][orient=vertical] {
	writing-mode: vertical-lr;
	direction: rtl;
	width: 5px;
	accent-color: #08559b;
	box-shadow: -1px 3px 15px 2px #08559b;
}

.master-volume {
	border-left: 1px solid #777;
	border-right: 1px solid #777;
	display: flex;
	flex-direction: column;
	padding: 5px;
	bottom: 5px;
	position: relative;
	align-items: center;
	left: 50%;
	transform: translateX(-50%);
}

.volume-text {
	margin-bottom: 5px;
}

.main-master {
	display: flex;
	border-top: 1px solid #777;
	border-bottom: 1px solid #777;
	align-items: center;
	justify-content: center;
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 5px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 5px;
}

.low-pass-filter,
.high-pass-filter {
	margin-top: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px;
}

.main-filter-text {
	margin-bottom: 15px;
	text-align: center;
}

.knob-slider {
	display: flex;
	justify-content: center;
}

.knob-slider::before {
	background: var(--theme-red);
	/*linear-gradient(0deg, var(--theme-red) 50%, var(--theme-purple-dark) 100%); */
	width: 4em;
	height: 4em;
	border-radius: 50%;
	border: 2px solid var(--theme-purple-dark);
	box-shadow: 0px -20px 20px rgba(0, 0, 0, 0.4),
		0px 20px 35px rgba(0, 0, 0, 0.4),
		inset 0px 5px 6px rgba(0, 0, 0, 0.4),
		inset 0px -5px 6px rgba(0, 0, 0, 0.4);
}

.knob-slider::before,
.knob {
	width: 4em;
	height: 4em;
	position: relative;
	transform: rotate(40deg);
}

.knob::before,
.knob::after,
.knob-slider::before {
	content: '';
	position: absolute;
	border-radius: 50%;
}

.knob::before {
	bottom: 10px;
	width: 3px;
	height: 15px;
	border-radius: 30%;
	border: 1px solid var(--theme-purple-light);
	left: 50%;
	transform: translateX(-50%);
	background: var(--theme-yellow);
	box-shadow: 0px 0px 10px var(--theme-red);
}

.knob::after {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 3px solid var(--theme-yellow);
	width: 120%;
	height: 120%;
	box-shadow: 0px 0px 8px 5px var(--theme-red),
		inset 0px 0px 8px 3px var(--theme-red);
	opacity: var(--knob-after-opacity, 0%);
}

.knob-slider-params {
	display: flex;
	justify-content: center;
}

.knob-slider-params::before {
	background: linear-gradient(0deg, rgb(80, 79, 80) 50%, black 100%);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	box-shadow: 0px -20px 20px #757575,
		0px 20px 35px #111111,
		inset 0px 5px 6px #979797,
		inset 0px -5px 6px #242424;
}

.knob-slider-params::before,
.knob-params {
	width: 30px;
	height: 30px;
	position: relative;
	transform: rotate(40deg);
}

.knob-params::before,
.knob-params::after,
.knob-slider-params::before {
	content: '';
	position: absolute;
	border-radius: 50%;
}

.knob-params::before {
	bottom: 7px;
	left: 50%;
	transform: translateX(-50%);
	width: 3px;
	height: 3px;
	background: #e04141;
	box-shadow: 0px 0px 10px #eb3434;
}

.knob-params::after {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 3px solid var(--knob-low);
	width: 130%;
	height: 130%;
	box-shadow: 0px 0px 8px 4px var(--knob-medium),
		inset 0px 0px 4px 2px var(--knob-high);
	opacity: var(--knob-after-opacity, 0%);
}

.mod-link {
	display: flex;
	flex-direction: column;
	align-items: center;

	.lfo-speed {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}